body {
    font-family: Helvetica, Arial, sans-serif;
    color: darkslategray;
    background-color: lightgray;
}

h1 {
    color: goldenrod;
    text-align: center;
}

.recipe-list {
    text-align: center;
}